@page "/"
@using EmployeeManagmentSystem.Data
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject IToastService toastService

<div class="login-container mt-5 bgcolor">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form-container">
                <h2>Login</h2>
                <EditForm Model="@user" OnValidSubmit="@Login">
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                                <InputText id="username" class="form-control" @bind-Value="user.Username"></InputText>
                                <ValidationMessage For="@(() => user.Username)" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <div class="input-group">
                                    <InputText id="password" type="@PasswordInputType" class="form-control" @bind-Value="user.Password"></InputText>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" @onclick="TogglePasswordVisibility">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => user.Password)" />
                            </div>

                        </div>
                    </div>
                    <label for="errorMessage" class="errorMessage" style="visibility: @(msg == "Failed" ? "visible" : "hidden")">
                        Incorrect username or password. Please try again.
                    </label>

                    <button type="submit" class="btn btn-primary">Login</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    User user = new User();
    string msg { get; set; }
    private bool ShowPassword { get; set; } = false;

    private string PasswordInputType => ShowPassword ? "text" : "password";

    protected async Task Login()
    {
        if (await UserService.AuthenticateUserAsync(user))
        {
            toastService.ShowSuccess("Welcome");
            NavigationManager.NavigateTo("Dashboard");
        }
        else
        {
            msg = "Failed";
        }
    }

    private void TogglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }
}
<style>
    .sidebar {
        display: none;
    }

    .visible {
        display: block;
    }

    .hidden {
        display: none;
    }

    .errorMessage {
        color: red;
    }

    .login-container {
        padding: 20px;
        background-color: #f1f6ff; /* Light blue background */
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        height: 300px !important;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    .form-control {
        border: none;
        border-bottom: 2px solid #aaa;
        border-radius: 0;
        box-shadow: none;
    }

        .form-control:focus {
            border-bottom-color: #666;
        }

    .btn-primary {
        width: 100%;
        background-color: #007bff; /* Blue button */
        border: none;
        border-radius: 5px;
        color: #fff;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }

    body {
        background-image: linear-gradient(to bottom right, #4158D0, #C850c0, #FFCC70);
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
</style>

